<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vendedores da CrudCars

    </ion-title>
    <ion-button slot="end">
      
      <ion-button routerLink="/home">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <img src="https://cdn-icons.flaticon.com/png/512/4951/premium/4951028.png?token=exp=1655069655~hmac=8e13f1102606d033534130d7147ceef6" width="100" height="100" >
      <ion-label> BLENDON FANTONI DA SILVA</ion-label>
      <ion-button fill="outline" slot="end">BATER PONTO</ion-button>
      <ion-button routerLink="/pagamento" fill="outline" slot="end">FINANCIAMENTO</ion-button>
    </ion-item>

    <ion-card-content>
      Horario de entrada: 07:30
      Horario de saida: --:--
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="https://cdn-icons.flaticon.com/png/512/4955/premium/4955634.png?token=exp=1655069397~hmac=7e64160acd90bcd978eae4025a7142ad" width="100" height="100" >
      <ion-label> LUAN PAIM PEREIRA</ion-label>
      <ion-button fill="outline" slot="end">BATER PONTO</ion-button>
      <ion-button routerLink="/pagamento" fill="outline" slot="end">FINANCIAMENTO</ion-button>
    </ion-item>

    <ion-card-content>
      Horario de entrada: 08:30
      Horario de saida: --:--
    </ion-card-content>
  </ion-card>
</ion-content>